:root {
	--bs-blue: #9a672f;
	--bs-blue-hover: #764f24;
	--color-white: #ffffff;
	--color-text: #313131;
	--color-light-bg: #c3c3c3;
}

html {
	font-family: Metropolis, Metropolis-Fallback, system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
	font-size: 18px;
}

body {
	background-color: var(--color-light-bg);
	color: var(--color-text);
}

a {
	color: var(--bs-blue);
}

a:hover {
	color: var(--bs-blue-hover);
}

.btn-primary {
	background-color: var(--bs-blue);
	border-color: var(--bs-blue);
}

.btn-primary:hover {
	background-color: var(--bs-blue-hover);
	border-color: var(--bs-blue-hover);
}

h1,
h2,
h3,
h4 {
	font-family: "Playball", serif;
}

.color-white {
	color: var(--color-white);
}

.hero__img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
	aspect-ratio: 16 /6;
}

.hero--small .hero__img {
	aspect-ratio: 16 / 4;
}

@media (max-width: 480px) {
	.hero--small .hero__img {
		aspect-ratio: 16 / 6;
	}
}

.services__img {
	width: 4rem;
	height: 4rem;
}

.main-menu {
	display: inline-block;
	list-style: none;
}

.menu-item {
	display: inline-block;
	padding-left: 1rem;
}

.menu-link {
	color: #fff;
}

.menu-link:hover {
	color: var(--bs-blue);
}

.menu-link.is-active {
	font-weight: 700;
	text-decoration: none;
}

.menu-link.is-active:hover {
	color: #fff;
}

/* === PDF GRID === */

.pdf-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: stretch;
}

.pdf-card {
  flex: 0 1 calc(50% - 16px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .pdf-card {
    flex: 1 1 100%;
  }
}

.pdf-preview-wrapper iframe {
	min-height: 20rem;
}
